@page

@section head{
    <link href="~/css/smusic.css" rel="stylesheet" />
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/mo.js"></script>
    <script src="~/js/smusic.js?v=1"></script>
    <script src="~/js/index.js"></script>
}

<article class="wrapper">
    <div class="tip">
        <div class="hg">
            <span>经典歌曲分享</span><span>&nbsp;&nbsp;</span>[<span id="list_title"></span>][<span id="list_number">0</span>]
        </div>
        <div class="hg dg">
            自助点歌 <strong>歌曲名#歌手</strong>
        </div>
    </div>
    <div id="music"></div>
</article>

<div class="ad">
    <marquee id="ad" align="left" behavior="scroll" direction="left" loop="-1" onmouseout="this.start()" onmouseover="this.stop()"></marquee>
</div>