@page

@section head{
    <link href="~/css/smusic.css" rel="stylesheet" />
    <script src="~/js/mo.js"></script>
    <script src="~/js/smusic.js"></script>
}
<div>
    <article class="wrapper">
        <div class="tip">
            <div><span>经典歌曲分享</span><span>2020-08-10</span> 点歌格式 <strong>歌曲名#歌手</strong></div>
        </div>
        <div id="smusic"></div>
        @*<div class="button-group">
                <button id="getCurrentMusic">获取当前播放歌曲</button>
                <button id="addMusicToList">向列表中添加音乐</button>
            </div>*@
    </article>
</div>

<script type="text/javascript">
    var songList = [
        {
            title: '恋曲1980',
            singer: '罗大佑',
            audio: 'http://fs.pc.kugou.com/202008100139/8a3069f342ffaed31fa6245bd4067f6f/G198/M09/05/1D/ZocBAF5Wh9mAfYitADEHQ8xJofM946.mp3',
            thumbnail: 'http://imge.kugou.com/stdmusic/20160909/20160909041538511009.jpg',
            words: [
                {
                    "time": 0.66,
                    "text": "罗大佑 - 恋曲1980"
                },
                {
                    "time": 1.87,
                    "text": "作词：罗大佑"
                },
                {
                    "time": 2.89,
                    "text": "作曲：罗大佑"
                },
                {
                    "time": 3.9,
                    "text": "编曲：罗大佑、张定元"
                },
                {
                    "time": 17.69,
                    "text": "你曾经对我说你永远爱着我"
                },
                {
                    "time": 24.11,
                    "text": "爱情这东西我明白"
                },
                {
                    "time": 27.39,
                    "text": "但永远是什么"
                },
                {
                    "time": 30.96,
                    "text": "姑娘你别哭泣我俩还在一起"
                },
                {
                    "time": 37.61,
                    "text": "今天的欢乐将是明天"
                },
                {
                    "time": 40.96,
                    "text": "永恒的回忆"
                },
                {
                    "time": 44.35,
                    "text": "啦啦啦啦啦啦"
                },
                {
                    "time": 47.69,
                    "text": "啦啦啦啦啦啦"
                },
                {
                    "time": 51.16,
                    "text": "今天的欢乐将是明天"
                },
                {
                    "time": 54.4,
                    "text": "永恒的回忆"
                },
                {
                    "time": 61.25,
                    "text": "什么都可以抛弃"
                },
                {
                    "time": 64.39,
                    "text": "什么也不能忘记"
                },
                {
                    "time": 67.92,
                    "text": "现在你说的话"
                },
                {
                    "time": 69.79,
                    "text": "都只是你的勇气"
                },
                {
                    "time": 74.65,
                    "text": "春天刮着风秋天下着雨"
                },
                {
                    "time": 81.32,
                    "text": "春风秋雨多少海誓山盟"
                },
                {
                    "time": 85.37,
                    "text": "随风远去"
                },
                {
                    "time": 88.01,
                    "text": "啦啦啦啦啦啦"
                },
                {
                    "time": 91.34,
                    "text": "啦啦啦啦啦啦"
                },
                {
                    "time": 94.63,
                    "text": "亲爱的莫再说你我"
                },
                {
                    "time": 97.62,
                    "text": "永远不分离"
                },
                {
                    "time": 114.96,
                    "text": "你不属于我我也不拥有你"
                },
                {
                    "time": 121.47,
                    "text": "姑娘世上没有人有"
                },
                {
                    "time": 124.97,
                    "text": "占有的权利"
                },
                {
                    "time": 128.18,
                    "text": "或许我们分手就这么不回头"
                },
                {
                    "time": 135.05,
                    "text": "至少不用编织一些"
                },
                {
                    "time": 138.28,
                    "text": "美丽的借口"
                },
                {
                    "time": 141.48,
                    "text": "啦啦啦啦啦啦"
                },
                {
                    "time": 144.97,
                    "text": "啦啦啦啦啦啦"
                },
                {
                    "time": 148.26,
                    "text": "亲爱的莫再说你我"
                },
                {
                    "time": 151.32,
                    "text": "永远不分离"
                },
                {
                    "time": 154.96,
                    "text": "啦啦啦啦啦啦"
                },
                {
                    "time": 158.46,
                    "text": "啦啦啦啦啦啦"
                },
                {
                    "time": 161.69,
                    "text": "亲爱的莫再说你我"
                },
                {
                    "time": 164.68,
                    "text": "永远不分离"
                },
                {
                    "time": 168.37,
                    "text": "啦啦啦啦啦啦"
                },
                {
                    "time": 171.82,
                    "text": "啦啦啦啦啦啦"
                },
                {
                    "time": 175.26,
                    "text": "亲爱的莫再说你我"
                },
                {
                    "time": 178.15,
                    "text": "明天要分离"
                },
                {
                    "time": 181.85,
                    "text": "啦啦啦啦啦啦"
                },
                {
                    "time": 185.13,
                    "text": "啦啦啦啦啦啦"
                },
                {
                    "time": 188.68,
                    "text": "亲爱的莫再说你我"
                },
                {
                    "time": 191.41,
                    "text": "永远不分离"
                }
            ]
        },
        {
            title: '恋曲1990',
            singer: '罗大佑',
            audio: 'http://fs.pc.kugou.com/202008100140/d333ec587b729eac5a0e0e5c0e74271f/G161/M0A/06/09/gZQEAFy29HGAFTYwAE04Vd0bg7c335.mp3',
            thumbnail: 'http://imge.kugou.com/stdmusic/20151218/20151218211806187450.jpg',
            words: [
                {
                    "time": 0,
                    "text": "罗大佑 - 恋曲1990"
                },
                {
                    "time": 4.64,
                    "text": "词：罗大佑"
                },
                {
                    "time": 5.31,
                    "text": "曲：罗大佑"
                },
                {
                    "time": 17.87,
                    "text": "乌溜溜的黑眼珠和你的笑脸"
                },
                {
                    "time": 25.94,
                    "text": "怎么也难忘记你容颜的转变"
                },
                {
                    "time": 34.58,
                    "text": "轻飘飘的旧时光就这么溜走"
                },
                {
                    "time": 43.2,
                    "text": "转头回去看看时已匆匆数年"
                },
                {
                    "time": 51.94,
                    "text": "苍茫茫的天涯路是你的飘泊"
                },
                {
                    "time": 60.29,
                    "text": "寻寻觅觅长相守是我的脚步"
                },
                {
                    "time": 68.77,
                    "text": "黑漆漆的孤枕边是你的温柔"
                },
                {
                    "time": 77.26,
                    "text": "醒来时的清晨里是我的哀愁"
                },
                {
                    "time": 86.13,
                    "text": "或许明日太阳西下倦鸟已归时"
                },
                {
                    "time": 94.49,
                    "text": "你将已经踏上旧时的归途"
                },
                {
                    "time": 102.91,
                    "text": "人生难得再次寻觅相知的伴侣"
                },
                {
                    "time": 111.54,
                    "text": "生命终究难舍蓝蓝的白云天"
                },
                {
                    "time": 120.15,
                    "text": "轰隆隆的雷雨声在我的窗前"
                },
                {
                    "time": 128.76,
                    "text": "怎么也难忘记你离去的转变"
                },
                {
                    "time": 137.12,
                    "text": "孤单单的身影后寂寥的心情"
                },
                {
                    "time": 145.67,
                    "text": "永远无怨的是我的双眼"
                },
                {
                    "time": 171.35,
                    "text": "苍茫茫的天涯路是你的飘泊"
                },
                {
                    "time": 179.91,
                    "text": "寻寻觅觅长相守是我的脚步"
                },
                {
                    "time": 188.39,
                    "text": "黑漆漆的孤枕边是你的温柔"
                },
                {
                    "time": 196.93,
                    "text": "醒来时的清晨里是我的哀愁"
                },
                {
                    "time": 205.8,
                    "text": "或许明日太阳西下倦鸟已归时"
                },
                {
                    "time": 214.11,
                    "text": "你将已经踏上旧时的归途"
                },
                {
                    "time": 222.53,
                    "text": "人生难得再次寻觅相知的伴侣"
                },
                {
                    "time": 231.22,
                    "text": "生命终究难舍蓝蓝的白云天"
                },
                {
                    "time": 239.64,
                    "text": "轰隆隆的雷雨声在我的窗前"
                },
                {
                    "time": 248.12,
                    "text": "怎么也难忘记你离去的转变"
                },
                {
                    "time": 256.8,
                    "text": "孤单单的身影后寂寥的心情"
                },
                {
                    "time": 265.22,
                    "text": "永远无怨的是我的双眼"
                },
                {
                    "time": 273.84,
                    "text": "永远无怨的是我的双眼"
                }
            ]
        }
    ];

    var $ = function (id) {
        return document.getElementById(id);
    }

    var smusic = SMusic(songList, {
        container: $('smusic'),
        panel: 'list',
        volume: 0.5
    });
    smusic.init();

    var newSong = {
        title: '向天再借五百年',
        singer: '韩磊',
        audio: 'http://m2.music.126.net/9Xuqj6SBQr9d_i-wyy_FBA==/3118214976442555.mp3',
        thumbnail: 'http://p1.music.126.net/MsjB1mwEjSzidqcesbwz3w==/591537255755598.jpg',
        lyric: null
    };

    //$('getCurrentMusic').addEventListener('click', function () {
    //    var data = smusic.getCurrentInfo();
    //    var info = '';
    //    if (data) {
    //        for (var k in data) {
    //            if (['audio', 'lyric', 'thumbnail'].indexOf(k) === -1) {
    //                info += (k + '：' + data[k] + '\n');
    //            }
    //        }
    //        console.info(info);
    //    }
    //});

    //$('addMusicToList').addEventListener('click', function () {
    //    console.log("追加前：" + smusic.playList.length + "首");
    //    smusic.addSong(newSong, function () {
    //        newSong = null; //防止重复追加
    //    });
    //    this.setAttribute('disabled', 'disabled');
    //    console.log("追加后：" + smusic.playList.length + "首")
    //});

</script>